body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    background-image: url("../images/67.jpg");
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    
}
#menu{
    height: 80px;
    padding: 0 20px;
}

#logo{
    font-size: 30px;
    line-height:80px;
    color:#003666;
    float:left;
}

nav{
    float:right;
    line-height: 80px;
}
nav a:link{
    text-decoration: none;
    margin-right: 25px;
    color:#003666;
}
nav a:hover{
    border-bottom: 2px solid #003666;
}
nav a:visited{
    text-decoration: none;
    margin-right: 25px;
    color:#003666;
}
.ikon{
    margin-right: 7px;
    font-size: 16px;
}
.container {
    
    max-width:400px;
    margin: 50px auto;
    background-color: #F8F8F1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #336666;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

button:hover {
    background-color: #339966;
}
